{% extends 'base_content.html.twig' %}

{% block title %}Управление статьями{% endblock %}

{% block body_content %}
<h1>Управление статьями</h1>

<form>
    <div class="input-group mb-3">
        <input type="text"
               name="q"
               class="form-control"
               placeholder="Найти..."
               value="{{ app.request.query.get('q') }}"
        >
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-search"></i></button>
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Имя автора</th>
        <th>Опубликовано</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
    <tr>
        <td>
            <a href="{{ path('app_article_show', { slug: article.slug }) }}">
                {{ article.title }}
            </a>
        </td>
        <td>{{ article.description }}</td>
        <td>{{ article.author.firstName }}</td>
        <td><i class="fas fa-{{ article.isPublished ? 'check' : 'times' }}"></i></td>
        <td><a href="{{ path('app_admin_article_edit', {id: article.id}) }}"><i class="fas fa-pen"></i></a></td>
    </tr>
    {% else %}
    <tr>
        <td colspan="4">Содержиого с таким словом нету</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <div class="navigation">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}